PORT=3000

MONGODB_USER=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URL=cluster0.YOUR_CLUSTER_ID.mongodb.net
MONGODB_DB=your_database_name

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_login_email@gmail.com
SMTP_PASSWORD=your_brevo_smtp_api_key
SMTP_FROM=From_Mail

MAIL_TO=taskpro.project@gmail.com

JWT_SECRET=JWT_SECRET

APP_DOMAIN=http://localhost:5173/task-pro

CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret

ENABLE_CLOUDINARY=true

GOOGLE_AUTH_CLIENT_ID=GOOGLE_AUTH_CLIENT_ID
GOOGLE_AUTH_CLIENT_SECRET=GOOGLE_AUTH_CLIENT_SECRET
